*~
**/.vs/*
.dockercfg
**/project.lock.json
.DS_Store
tests/apps/*/obj
tests/apps/*/bin
runtimes/versions/*/functional_tests/app/obj
runtimes/versions/*/functional_tests/app/bin
integration_tests/apps/*/obj
integration_tests/apps/*/bin
